<h1><%= @title %></h1>
<h3><%= @group.tournament.full_name %></h3>
<p><%= @group.description %></p>
<table class="teams">
  <% if @teams.empty? %>
  <tr>
    <td>No Teams</td>
  </tr>
  <% else %>
  <tr>
    <td>User</td>
    <td>Points</td>
  </tr>
  <% @teams.each do |team| %>
  <tr>
    <td><%= link_to team.user.username, team.user %></td>
    <td>&nbsp;</td>
  </tr>
  <% end %>
  <% end %>
</table>