<h1>Survival Starcraft Rules</h1>
<ol>
  <li>Every user starts the season with the same amount of points (1,000,000,000).</li>
  <li>Every round, the user must allocate their desired amount of points to the professional Starcraft players of each
    match. The points allocated to the losing players are lost, while those to the winning players are carried into the
    next round.
  </li>
  <li>By default, all of a user’s points will automatically be distributed evenly between every player each round. In
    the event that the user does not take any actions to allocate their points, it will be halved by default.
  </li>
  <li>All points must be distributed every round. In the event that the default mechanic fails to distribute points
    correctly, any points not allocated are lost.
  </li>
  <li>The player with the most points at the end of the season wins.</li>
</ol>
<br/>
<h3>Survival Starcraft Terminology</h3>
<ul>
  <li>Points – The numeric score used to determine a user’s rank.</li>
  <li>Round – A complete day of broadcast games for a particular tournament.
    <table>
      <tr>
        <th colspan="3">GSL Code S March</th>
      </tr>
      <tr>
        <td>SSC Round</td>
        <td>Tournament Round</td>
        <td>Default Points</td>
      </tr>
      <tr>
        <td>1</td>
        <td>Feb. 22 – Ro32</td>
        <td>1,000,000,000</td>
      </tr>
      <tr>
        <td>2</td>
        <td>Feb. 24 – Ro32</td>
        <td>500,000,000</td>
      </tr>
      <tr>
        <td>3</td>
        <td>Feb. 26 – Ro32</td>
        <td>250,000,000</td>
      </tr>
      <tr>
        <td>4</td>
        <td>Mar. 01 – Ro32</td>
        <td>125,000,000</td>
      </tr>
      <tr>
        <td>5</td>
        <td>Mar. 03 – Ro16</td>
        <td>62,500,000</td>
      </tr>
      <tr>
        <td>6</td>
        <td>Mar. 05 – Ro16</td>
        <td>31,250,000</td>
      </tr>
      <tr>
        <td>7</td>
        <td>Mar. 08 – Ro8</td>
        <td>15,625,000</td>
      </tr>
      <tr>
        <td>8</td>
        <td>Mar. 10 – Ro8</td>
        <td>7,812,500</td>
      </tr>
      <tr>
        <td>9</td>
        <td>Mar. 12 – Semi Finals</td>
        <td>3,906,250</td>
      </tr>
      <tr>
        <td>10</td>
        <td>Mar. 19 – Finals</td>
        <td>1,953,125</td>
      </tr>
    </table>
  </li>
</ul>