<footer>
  <nav class='round'>
    <ul>
      <li><%= link_to "Contact Us", contact_path %></li>
      <li><%= link_to "Terms of Service", '#' %></li>
      <li><%= link_to "Private Policy", '#' %></li>
    </ul>
  </nav>
</footer>