<navigation>
  <nav class='round'>
    <ul>
      <li><%= link_to "Users", users_path %></li>
      <li><%= link_to "Groups", '#' %></li>
      <li><%= link_to "Rules", rules_path %></li>
    </ul>
  </nav>
</navigation>